<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finance</title>
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/img/logo.png")" />
    <link href="@Url.Content("~/img/favicon.ico")" rel="icon">
    <link rel="stylesheet" href="@Url.Content("~/admin/libs/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/admin/css/styles.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/admin/css/zero.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/admin/css/plugins.min.css")" />

</head>