<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="@Url.Action("Index", "Home", new { area = "Admin" })" class="text-nowrap logo-img">
                <img src=" @Url.Content("~/img/logo.png")" width="180" alt=""  />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Home</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Home", new { area = "Admin" })" aria-expanded="false">
                        <span>
                            <i class="ti ti-layout-dashboard"></i>
                        </span>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Ayarlar</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "User", new { area = "Admin" })" aria-expanded="false">
                        <span>
                            <i class="ti ti-user"></i>
                        </span>
                        <span class="hide-menu">Kullanıcılar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "About", new { area = "Admin" })" aria-expanded="false">
                        <span>
                            <i class="ti ti-help"></i>
                        </span>
                        <span class="hide-menu">Hakkında</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Reference", new { area = "Admin" })" aria-expanded="false">
                        <span>
                            <i class="ti ti-books"></i>
                        </span>
                        <span class="hide-menu">Referanslar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Contact", new { area = "Admin" })" aria-expanded="false">
                        <span>
                            <i class="ti ti-address-book"></i>
                        </span>
                        <span class="hide-menu">İletişim</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Favicon", new { area = "Admin" })" aria-expanded="false">
                        <span>
                            <i class="ti ti-photo"></i> <!-- favicon ikonuna uygun bir ikon -->
                        </span>
                        <span class="hide-menu">Favicon</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Logo", new { area = "Admin" })" aria-expanded="false">
                        <span>
                            <i class="ti ti-picture-in-picture-top"></i>
                        </span>
                        <span class="hide-menu">Logo</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "OurService", new { area = "Admin" })" aria-expanded="false">
                        <span>
                            <i class="ti ti-briefcase"></i>
                        </span>
                        <span class="hide-menu">Hizmetlerimiz</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Product", new { area = "Admin" })" aria-expanded="false">
                        <span>
                            <i class="ti ti-package"></i>
                        </span>
                        <span class="hide-menu">Ürünler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Slider", new { area = "Admin" })" aria-expanded="false">
                        <span>
                            <i class="ti ti-layout"></i> <!-- Yeni ikon -->
                        </span>
                        <span class="hide-menu">Slider</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "SocialMedia", new { area = "Admin" })" aria-expanded="false">
                        <span>
                            <i class="ti ti-heart"></i> <!-- Yeni ikon -->
                        </span>
                        <span class="hide-menu">Sosyal Medya</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "WorkingHour", new { area = "Admin" })" aria-expanded="false">
                        <span>
                            <i class="ti ti-clock"></i>
                        </span>
                        <span class="hide-menu">Çalışma Saatleri</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>