@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Envanter Aunde Login</title>
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/img/logo.png")" />
    <link rel="stylesheet" href="@Url.Content("~/admin/css/styles.min.css")" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="./" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="@Url.Content("~/img/logo.png")" width="300" alt="">
                                </a>
                                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                                {
                                    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                                }

                                @using (Html.BeginForm(@Url.Action("Login", "Auth", new { area = "Finance" })))
                                {
                                    <div class="mb-3">
                                        @Html.Label("email", "Email", new { @class = "form-label" })
                                        @Html.TextBox("email", null, new { @class = "form-control", type = "email", placeholder = "Enter email" })
                                    </div>

                                    <div class="mb-4">
                                        @Html.Label("password", "Password", new { @class = "form-label" })
                                        @Html.Password("password", null, new { @class = "form-control", placeholder = "Enter password" })
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <div class="form-check">
                                            @Html.CheckBox("rememberMe", new { @class = "form-check-input primary", @checked = "checked" })
                                            <label class="form-check-label text-dark" for="rememberMe">Remember this Device</label>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary w-100 py-2 fs-5 mb-4 rounded-2">Sign In</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/admin/libs/jquery/dist/jquery.min.js")"></script>
    <script src="@Url.Content("~/admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
</body>

</html>