@model UpdateSocialMediaViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h1 class="mb-4 card-title">Hakkımızda Bilgilerini Güncelleyebilirsiniz.</h1>
                @using (Html.BeginForm(
                actionName: "SaveEdit",
                controllerName: "SocialMedia",
                routeValues: new { area = "Admin" },
                method: FormMethod.Post,
                antiforgery: false,
                htmlAttributes: new { @class = "", enctype = "multipart/form-data" }))
                {
                    <div class="row mb-3">
                        <label for="Name" class="col-sm-2 col-form-label">Id</label>
                        <div class="col-sm-10">
                            <input type="hidden" asp-for="Id" />
                            <label class="form-control" id="Id" asp-for="Id">@Model.Id </label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="Name" class="col-sm-2 col-form-label">Twitter</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.Twitter, new { @class = "form-control", type = "text", placeholder = "Twitter" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="Name" class="col-sm-2 col-form-label">Facebook</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.Facebook, new { @class = "form-control", type = "text", placeholder = "Facebook" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="Name" class="col-sm-2 col-form-label">Youtube</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.Youtube, new { @class = "form-control", type = "text", placeholder = "Youtube" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="Name" class="col-sm-2 col-form-label">Linkedin</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.Linkedin, new { @class = "form-control", type = "text", placeholder = "Linkedin" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="Name" class="col-sm-2 col-form-label">Instagram</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.Instagram, new { @class = "form-control", type = "text", placeholder = "Instagram" })
                        </div>
                    </div>


                    <div class="row mb-3 mt-4">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-lg btn-primary me-2">Kaydet</button>
                            <a href="@Url.Action("Index", "SocialMedia", new { area = "Admin" })" class="btn btn-lg btn-secondary">Geri Dön</a>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


</div>
