@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Password";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="row justify-content-center">

    <div class="col-lg-8">

        <div class="card">
            <div class="card-body">
                <h1 class="mb-4 card-title">Şirket Bilgilerini Güncelleyebilirsiniz.</h1>
                @using (Html.BeginForm(
                actionName: "SavePassword",
                controllerName: "User",
                routeValues: new { area = "Admin" },
                method: FormMethod.Post,
                antiforgery: false,
                htmlAttributes: new { @class = "" }))
                {
                    <div class="row mb-3">
                        <label for="Name" class="col-sm-2 col-form-label">Id</label>
                        <div class="col-sm-10">
                            <input type="hidden" asp-for="Id" />
                            <label class="form-control" id="Id" asp-for="Id">@Model.Id </label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="Name" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="hidden" asp-for="Email" />
                            <label class="form-control" id="Id" asp-for="Email">@Model.Email </label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="Name" class="col-sm-2 col-form-label">Parola</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "text", placeholder = "Parola giriniz." })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="Name" class="col-sm-2 col-form-label">Parola Doğrulama</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", type = "text", placeholder = "Parola doğrulamasını giriniz." })
                        </div>
                    </div>
                    <div class="row mb-3 mt-4">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-lg btn-primary me-2">Kaydet</button>
                            <a href="@Url.Action("Index", "User", new { area = "Admin" })" class="btn btn-lg btn-secondary">Geri Dön</a>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

