@model List<ProductViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
    int index = 1;
}
@await Component.InvokeAsync("_PageHeader_Generic_ComponentPartial", new { pageTitle = "Ürünlerimiz" })

<!-- Store Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-medium fst-italic text-primary">Ürünlerimiz</p>
        </div>
        <div class="row g-4">
            @* <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" src="img/store-product-1.jpg" alt="">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">Nature close tea</h4>
                        <p>Aliqu diam amet diam et eos. Clita erat ipsum lorem erat ipsum lorem sit sed</p>
                        <h4 class="text-primary">$19.00</h4>
                    </div>
                    <div class="store-overlay">
                        <a href="" class="btn btn-primary rounded-pill py-2 px-4 m-2">More Detail <i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div> *@
            @foreach (var product in Model)
            {
                var delay = (index * 0.1).ToString("0.0") + "s";
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="@delay">
                    <div class="store-item position-relative text-center">
                        @if (!string.IsNullOrEmpty(product.ImageUrl))
                        {
                            <img class="img-fluid" src="@Url.Content("~/Photos/Products/"+@product.ImageUrl)" alt="@product.Name">
                        }
                        <div class="p-4">
                            <div class="text-center mb-3">
                                @for (int i = 0; i < 5; i++)
                                {
                                    if (i < product.Rating)
                                    {
                                        <small class="fa fa-star text-primary"></small>
                                    }
                                    else
                                    {
                                        <small class="fa fa-star text-secondary"></small>
                                    }
                                }
                            </div>
                            @if (!string.IsNullOrEmpty(product.Name))
                            {
                                <h4 class="mb-3">@product.Name</h4>
                            }
                            @if (!string.IsNullOrEmpty(product.Description))
                            {
                                <p>@product.Description</p>
                            }
                            <h4 class="text-primary">@product.Price.ToString("C")</h4>
                        </div>
                        <div class="store-overlay">
                            <a href="@Url.Action("Detail", "Product", new { id = product.Id })" class="btn btn-primary rounded-pill py-2 px-4 m-2">
                                Detaylar <i class="fa fa-arrow-right ms-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Store End -->
@* @Url.Action("Index", "About") *@