@model NavBarViewModel
<!-- Navbar Start -->
<div class="container-fluid bg-white sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
            <a href="@Url.Action("Index", "Home", new { area = "" })" class="navbar-brand">

                @if (Model.LogoModel != null && !string.IsNullOrEmpty(Model.LogoModel.ImageUrl))
                {
                    <img class="img-thumbnail" src="@Url.Content("~/Photos/Logos/"+Model.LogoModel.ImageUrl)" alt="Logo" style="border:0px;">
                }
                else
                {
                    <img class="img-thumbnail" src="@Url.Content("~/img/logo.png")" alt="Logo" style="border:0px;">
                }
            </a>
            <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="@Url.Action("Index", "Home", new { area = "" })" class="nav-item nav-link @(ViewData["ActivePage"] != null && ViewData["ActivePage"].ToString() == "Home" ? "active" : "")">Anasayfa</a>
                    <a href="@Url.Action("Index", "About", new { area = "" })" class="nav-item nav-link @(ViewData["ActivePage"] != null && ViewData["ActivePage"].ToString() == "About" ? "active" : "")">Hakkımızda</a>
                    <a href="@Url.Action("Index", "Product", new { area = "" })" class="some-class nav-item nav-link @(ViewData["ActivePage"] != null && ViewData["ActivePage"].ToString() == "Product" ? "active" : "")">ÜRÜNLERİMİZ</a>
                    <a href="@Url.Action("Index", "OurService", new { area = "" })" class="some-class nav-item nav-link @(ViewData["ActivePage"] != null && ViewData["ActivePage"].ToString() == "OurService" ? "active" : "")">HİZMETLERİMİZ</a>
                    <a href="@Url.Action("Index", "Reference", new { area = "" })" class="some-class nav-item nav-link @(ViewData["ActivePage"] != null && ViewData["ActivePage"].ToString() == "Reference" ? "active" : "")">REFERANSLAR</a>
                    <a href="@Url.Action("Index", "Contact", new { area = "" })" class="some-class nav-item nav-link @(ViewData["ActivePage"] != null && ViewData["ActivePage"].ToString() == "Contact" ? "active" : "")">İLETİŞİM</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->